.form-div{
    display: flex;
    justify-content:center;
    border-radius: 8px;
    width: 315px;
    height: 350px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.622);
    background-position-x:-100px;
    box-shadow: 0 0px 20px 5px rgba(25, 118, 210, 0.851);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 78%;
}
.emailInput,.passwordInput{
    border-radius: 8px;
    background: rgb(255, 255, 255) !important;
    color: red !important;
    margin-bottom: 40px !important;
    padding: 1px !important;
}

.buttonLogReg{
    width: 245px !important;
    padding: 10px;
    cursor: pointer;
    color: white;
    /* background:#1976D2FF ; */
}
/* .title{
	
    /* text-align: center; */
    /* margin-bottom: 30px; */
    /* color: #1976D2FF; */
/* }  */

