
  
  .RockPaperScissors {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.308), 0 0px 30px 2px rgba(0, 0, 0, 0.397);
    text-align: center;
    background-color: rgb(68, 68, 68);
    font-family: sans-serif;
  }
     /* heading */
  .heading {
    font-size: 50px;
  }
  .heading-Rock{
    color: rgb(240, 40, 40);
    margin-right: 15px;
  }
  .heading-Paper{
    color: rgb(237, 236, 243);
    margin-right: 15px;
  
  }
  .heading-Scissors{
    color:rgb(63, 196, 51) ;
  }
  
  .scoreRcok {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .choice {
    height: 150px;
    display: flex;
    justify-content: center;
  }

  .user-hand{
    transform: rotateY(180deg);
  }
  
  .button-div{
    display: flex;
    justify-content: center;
    padding: 20px;
  
  }
 
  .button{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    color: black !important;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .buttonRest{
      height: 70px;
  }
      /* button  */
  .rock{
    cursor: pointer;
  
    background: rgb(240, 40, 40);
    margin-right: 10px;
  }
  .paper{
    background:rgb(63, 196, 51) 
  }
  .scissors{
    margin-right: 10px;
    background: rgb(237, 236, 243);
  }
  
  
  .Turn-Result{
    font-size: 20px;
    color: rgb(237, 236, 243);
  }
  .Final-Result{
    color: rgb(234, 240, 240);
  }
      /* winner text */
  .No-one-win{
    color: rgb(237, 236, 243) !important;
  }
  .winner-User{
    color: rgb(240, 34, 34) !important;
  }
  .winner-Computer{
    color: rgb(40, 184, 12) !important;
  }
  
  @media screen and (max-width:750px) {
    
    .heading{
        font-size: 35px;
      }
  }
  
  @media screen and (max-width:450px) {
    .heading{
      font-size: 25px;
    }
    .score{
      height: 12vh;
      font-size: 8px;
    }
    .choice{
      height: 10vh;
    }
    .computer-hand,
    .user-hand
    {
      width: 100px;
    }
    .No-one-win,.winner-User,.winner-Computer{
      font-size: 20px;
    }
    
    .button{
      width: 100px;
    }
    .Final-Result-tatle{
      font-size: 18px;
    }
  }