.Game{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardsSection{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    background-attachment:fixed ;
    background-repeat: no-repeat;
    padding: 20px 0 40px 0px;
}
.gameheader{
    width: 77%;
    height: 74vh;
    margin-top: 55px;
    opacity: 0.995;
    box-shadow: -19px 0px 15px -5px rgb(83 204 234), 19px 0px 16px -5px rgb(237 145 237);;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/767/399/large_2x/abstract-neon-dark-gaming-background-free-vector.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover ;
}

.leaderpageText{
    text-align: center;
}
.Accauntext{
    text-align: center;
}
.cards{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
}
.card-item{
    width: 30%;
    border-radius: 5px ;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    margin-bottom: 3%;
}
:hover.card-item,:hover.card-image{
    
    transform: scale(1.05,1.05);
    opacity: 1;
    transition: 0.8s;
    
}

:hover.card-item{
    box-shadow: 0 0px 20px 5px rgb(47, 195, 221), 0 0px 30px 2px rgb(84, 208, 230);
    
}
.card-image{
    position: relative;
    border-radius: 5px;
    margin: 10px 0;
    width: 92%;
    height: 13rem;    
}
.title-Game{
    position: absolute;
    top: 0;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 252, 252);
    margin: 10px 0;
}

.card-text{  
    display: none;
    margin-bottom: 15px;
    padding: 15px;
}


/*  /////////////    media    //////////////////      */

@media screen and (max-width: 1400px) {
    .card-button{
        width: 85%;
        font-size: 13px;
    }
    .card-image{
        height: 11rem; 
    }
    .card-button{
        font-size: 14px;
     }
    }
  @media screen and (max-width: 1100px) {
    .gameheader{
        height: 60vh;
    }
    .card-item{
        margin-bottom: 4%;
    }
    .card-image{
        height: 9rem; 
    }
    .card-text{  
        margin-bottom: 5px;
        padding: 7px;
    }
    .card-button{
        width: 85%;
        font-size: 13px;
    }
    
  }
  @media screen and (min-width: 701px) {
    .leaderpageDiv{
        display: none;
    }
  }

  @media screen and (max-width: 950px) {
    .gameheader{
        height: 300px;
    }
    .card-item{
        width: 40%;
        margin-bottom: 9%;
    }
    .card-image{
        height: 9rem; 
    }
    .card-button{
        width: 72%;
       font-size: 11px;
    }
  }
  @media screen and (max-width: 640px) {
    :hover.card-item{
        box-shadow: 0 0px 20px 5px rgba(216, 130, 219, 0.9), 0 0px 30px 2px rgba(212, 118, 215, 0.9);
        
    }
    .gameheader{
        height: 200px;
        
    }
    .card-item{
        width: 80%;
        margin-bottom: 9%;
    }
    .card-image{
        height: 9rem; 
    }
    .card-button{
       font-size: 16px;
    }
  }
  @media screen and (max-width: 400px) {
    .gameheader{
        margin-top: 5px;
        width: 98%;
        height: 250px;
        
    }

  }