.div-height{
    height: 800px;
}
.rockpaperscissors{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.snakeGame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67.9vh;
}

@media screen and (max-width:900px){
    .snakeGame{
        height: 600px;
    }
}