.div-height{
    width: 100%;
    height: 800px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rockpaperscissors{
    height: 600px;

}
.snakeGame{
    width: 100%;
    height: 67.9vh;
}
.hangman{
    height: 90vh;
}
.TicTacToe{
    height: 600px;
}

@media screen and (max-width:900px){
    .snakeGame{
        height: 600px;
    }
}
@media screen and (max-width:600px){
    .div-height{
        height: 80vh;
    }
}