.div-height{
    height: 800px;
}
.rockpaperscissors{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.snakeGame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}