.header-container{
    width:96%;
    height: 20px;
    position: sticky;
    top:0;
    /* background-color: #242424FF; */
    background-image: url('http://unipas.ac.id/dev-site/external/footer-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0px 30px 2px rgba(20, 20, 20, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
    z-index: 5;
}
.LeaderPageText{
    text-align: center;
}
.Accauntext{
    font-size: 13px;
    color: white;
}
.logo{
    position: relative;
    display: flex;
    flex-direction: row;
}
.listMore{
    width: 70vw;
    height: 80px;
    border-radius: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0px 7px 3px #1976D2FF;
    position: absolute;
    top: 47px;
    left: 10px;
    background: #212121FF;
}
.Accauntext2{
    color: white;
    text-align: center;
    font-size: 16px;
}
.buttonMore{
    display: none;
}

@media screen and (max-width:700px) {
    .buttonMore{
        display: block;
    }
    .leaderpageHeader{
        display: none;
    }
    .GameHubText{
        display: none;
    }
    .header-container{
        justify-content: space-around;
    
    }
}
@media screen and (min-width:700px) {
    .listMore{
        display: none;
    }
    
}
@media screen and (max-width:500px) {
    .buttonSize{
        padding: 3px 8px !important;
    }
    
}