.header-container{
    width:96%;
    height: 40px;
    background-color: rgb(2, 2, 2);
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

.logo{
    display: flex;
    flex-direction: row;
}