.footer-container{
    width:100vw;
    height:70px;
    /* background-color: rgb(28, 28, 28); */
    background-image: url('http://unipas.ac.id/dev-site/external/footer-background.jpg');
    background-position-y: -40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact{
    margin:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}