
.img{
    width: inherit;
    height: 200px;
    margin-top: 10px;
    border-radius: 8px;
   
}

.LeaderPage{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    
}
.Winner{
    width: 300px;
    height: 400px;
    border-radius: 8px;
    margin: 30px 15px;
    padding: 10px;
    text-align: center;
    background-color: white;
}
.winnerName{
    color: green;
}
.scoree{
    color: red;

}